#container{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

#titel{
    position: absolute;
    left: 40%;
    bottom: 77.5%;
    font-size: 3.5rem;
    color: lightskyblue;
    font-weight: bolder;
}

#letter{
    position: absolute;
    top: 60px;
    right: 42%;
}

#checkletter{
    position: absolute;
    top: 100px;
    right: 45%;
}

#answer{
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 67%;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
}

#gokken{
    position: absolute;
    left: 0px;
    top: 50px;
    width: 205px;
    height: 45px;
    background-color: white;
}

#woord{
    position: absolute;
    top: 30px;
    left: 240px;
    font-size: x-large;
    font-weight: bold;
}
